main {
    text-align: center;
}
#totalCommission {
    margin-top: 5rem;
}

.card {
    display: flex; justify-content: center; align-items: center; height: 200px;
    font-size: 2rem;
    height: 100px;
}

.card-grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

#COH {
    margin-top: 0;
}

canvas {
    width: 100%;
    max-width: 700px;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    height: 400px;
}

#transactionChart {
    width: 100%;
    height: 400px;
  }

@media only screen and (max-width: 767px) {
    html {
      font-size: 80%;
    }
    .card-grid {
        margin-top: 3rem;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    #transactionChart {
        height: 200px;
    }

  }


