:root {
    /* fonts */
    --font-heading: "Righteous", serif;
    --font-page: "Roboto", sans-serif;
    --font-text: "Roboto", 'Times New Roman', Times, serif;
    /* colors */
    /* --background: white;
    --red: #a32002;
    --sun: #efac23;
    --sand: rgb(253, 233, 192);
    --light-aqua: #def8fd;
    --aqua: #b6ebf4;
    --light-green: #76D7C4;
    --teal: #027c91;
    --dark-green: #02514e; */

    --primary-color: #4A2653;      /* Deep Purple */
    --secondary-color: #872341;    /* Maroon */
    --accent-color: #E8D17D;       /* Light Gold */
    --background-color: #171F38;   /* Dark Blue (same as secondary for body background) */
    --text-color: #e6e6e6;         /* White for contrast on dark backgrounds */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

body {

    font-family: var(--font-page), sans-serif;
    
}

main {
    min-height: 2000px;
}

/* --------------------------------------  HEADER AND NAVIGATION ------------------------------------------------ */
header {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto ;
    background-color: var(--primary-color);
    width: 100%;
    align-items: center;
    /* border-bottom: 3px solid var(--sun-color); */
}

#header-top {
    justify-content: center;
    width: 100%;
    place-items: center;
}

#headerImg {
    /* grid-column: 1 / 2;
    grid-row: 1 / 3; */
    max-width: 200px;
    height: 100px;
    padding: 1rem;
}

h1, h2, h3 {
    text-align: center;
    font-family: var(--font-heading), serif;
}

h1 {
    font-weight: 700;
}

h3 {
    font-family: var(--font-page), serif;
}

#heading {
    margin-top: 1rem;
    margin-left: 1rem;
    line-height: 25px;
}

#heading-1, #heading-2 {
    grid-column: 2 / 3;
    text-align: left;
    margin: 0;
}

#heading-1 {
    grid-row: 1 / 2;
    font-size: 1.4rem;
}
#heading-2 {
    grid-row: 2 / 3;
    font-size: 0.7rem;
}

/* hamburger button */
#ham-button {
    padding: 0;
    margin: 0;
    grid-column: 2 / 3;
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    max-width: 50px;
}

/* appearance for the hamburger menu button when open class is off */
#ham-button::before {
    content: "☰";
    font-size: 40px;
}

/* appearance for the button when open class os on */
#ham-button.open::before {
    content: "x";
}

.nav-bar {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: large;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    /* transition: max-height 0.5s ease-out, opacity 0.5s ease-out; */
    padding: .5em;
    gap: 1.5em;
    grid-column: 1/3 !important;
}

/* State when the nav-bar is open */
.nav-bar.open {
    max-height: 400px;
    opacity: 1;
}

.nav-bar a {
    display: none;
    padding: .5em;
    color: var(--text-color);
    font-family: var(--font-page), sans-serif;
    text-decoration: none;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    transition: all .5s ease 0s;
}

/* class toggled in JS */
.open a {
    display: block;
    width: auto;
}


.nav-bar a:hover {
    background-color: var(--primary-color);
    border-radius: 5px;
}

.nav-bar .active {
    background-color: var(--primary-color);
    border-radius: 5px 5px 0 0;
}

/* ----------------------------------------------------  MAIN  --------------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: var(--font-text), serif;
    width: 100%;
}

#page-title {
    padding: 1rem;
}

/* -----------------------------------------------  HERO IMAGE  ------------------------------------------------- */

#hero {
    width: 100%;
    position: relative;
}

#hero-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

#call-to-action {
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: var(--sand);
    color: black;
    font-family: var(--font-page), sans-serif;
    padding: 0.8rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s;
}

#hero button{
    font-size: 1.5rem;
}

#call-to-action:hover {
    background-color: var(--sun);
    transform: scale(1.05);
}

/* ------------------------------------------------  LOGO REEL  ------------------------------------------------- */
.logo-reel {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-wrapper {
    display: inline-block;
    animation: scroll-back-and-forth 45s ease-in-out infinite;;
}

.logo-wrapper img {
    width: 80px;
    height: auto;
    margin: 0 3rem;
    display: inline-block;
}

/* Keyframes for back-and-forth animation */
@keyframes scroll-back-and-forth {
    0% {
        transform: translateX(0); /* Start at the original position */
    }
    50% {
        transform: translateX(-45%); /* Move halfway to the left */
    }
    100% {
        transform: translateX(0); /* Move back to the original position */
    }
}

/* ---------------------------------------------------- CARDS -------------------------------------------------- */

.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-cards.cards-section, #spotlight {
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--sand);
    border-radius: 10px;
    border: black 1px solid;
    margin: 1rem;
    max-width: 400px;
    min-height: 300px;
    flex: 1;
}

.card h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h3 {
    text-align: center;
    padding-top: 1rem;
}

.card img {
    max-width: 80%;
    height: auto;
    margin: 1rem auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card p {
    text-align: center;
}

.info-card {
    margin-top: 0;
}

.info-card h2 {
    background-color: var(--teal);
}

.events {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.events > p {
    font-family: var(--font-page), sans-serif;
    font-size: 1.2rem;
}

.events > h3 {
    font-family: var(--font-heading), serif;
    font-size: 1.5rem;
}


#spotlight-cards .card {
    background-color: white;
}

#spotlight-cards.cards-section .card:nth-child(3) {
    display: none; /* Hides the third card */
}

.offer {
    padding: 1rem;
    font-size: 2.5rem;
    font-family: var(--font-page), sans-serif;
}

/* --------------------------------------------------- TABLES --------------------------------------------------- */
#table-view {
    width: 95%;
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    padding: 1rem;
}

tr:nth-child(even) {
    background-color: white;
}

/* Style for odd rows */
tr:nth-child(odd) {
    background-color: lightgrey;
}

th, td {
    padding: 1rem;
}

table, thead, tbody, th, td, tr {
    display: block;
}

td {
    display: flex;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

/* Hide cards or table depending on view selected (.hide class added in JS */
#table-view.hide, #cards.hide {
    display: none !important;
}

/* ---------------------------------------------------  WEATHER  ------------------------------------------------- */

#weather-main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

#weather-icon {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}

#current-temp {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: var(--font-page), sans-serif;
    font-size: 2rem;
    align-self: center;
    padding: 1rem;
}

figcaption {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-family: var(--font-page), sans-serif;
    text-align: center;
}

.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conditions-table {
    max-width: 800px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--font-page), sans-serif;
    border-spacing: 10px;
}

.conditions-table tr, .conditions-table td {
    background-color: var(--sand);
    padding: 0;
}

.conditions p {
    font-family: var(--font-page), sans-serif;
}

.right-justify {
    text-align: right;
}

.center {
    text-align: center;
}

/* default table layout for weather table */
.conditions-table table {
    display: table;
}

.conditions-table tr {
    display: table-row;
}

.conditions-table th, .conditions-table td {
    display: table-cell;
}

/* --------------------------------- DIRECTORY PAGE: DIRECTORY SELECTION BUTTONS --------------------------------- */

#directory-view {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-button, #table-button {
    padding: .5rem;
    background-color: white;
    color: white;
    margin: 1rem;
    border-radius: 10px;
    width: auto;
}

button:hover {
    background-color: var(--sand);
    color: black;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.button-symbol {
    width: 50px;
    height: auto;
}

/* ----------------------------------------------  FOOTER  -------------------------------------------- */
footer {
    padding: 2rem ;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}

footer p {
    padding-top: 5px;
}



.socials {
    max-width: 50px;
    height: auto;
    margin: 1rem;
}

#info p, #lastmodified {
    font-size: 0.9rem;
}

/* Footer logo symbols */
.crane {
    display: Inline-block;
}

.mirror {
    transform: scale(-1, 1);
}

/* ------------------------  Formatting for large view ports above 377px wide  ------------------------- */
@media (min-width: 377px) {
    #heading-1 {
        font-size: 1.8rem;
    }

    #heading-2 {
        font-size: 1rem;
    }

    #heading {
        line-height: 35px;
    }
}

@media (max-width: 720px) {
    #home-details {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        width: 100%;
    }    

    .events {
        grid-column: 1/3;
    }

    #headerImg {
        margin-left: 3rem;
    }
}