#home-details {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 10px;
}

#home-details .card {
    max-width: 100%;
}

#home-details div {
    background-color: #eee;
    padding: 5px;
    margin: 7px;
    border-radius: 10px;
    text-align: center;
}


#current-weather-description {
    font-size: smaller;
    font-style: oblique;

}

#forecast p , #current-temperature{
    margin-top: 10%;
}

#spotlight {

    align-content: space-between;
}

#spotlight a {
    color: white;
    text-decoration: none;
}


@media (max-width: 720px) {
    #home-details {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }    

    .events {
        grid-column: 1/3;
    }

    .nav-bar.open {
        grid-column: 1/3;
    }

    #headerImg {
        margin-left: 3rem;
    }
}